 *{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
button:hover{
  scale: 1.05;
}
.flex{
  display: flex;
  gap: 30px;
}
.flex-row{
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.flex-column{
  display: flex;
  flex-direction: column;
  gap: 27px;
}
.bg {
  position: absolute;
  z-index: -10;
  width: 100vw;
  height: 430px;
  top: 0px;
  left: 0px;
  background-color: #5E72E4;
}
.container  {
  width: calc(100vw - 40px);
  height: calc(100vh - 40px);
  padding: 20px;
}
.sidebar {
  width: 350px;
  height: calc(100vh - 40px);
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4.05px 32.4px 13.5px rgb(0 0 0 / 0.05);
}
.title-nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.title-nav h2 {
  color: #0B242F;
  font-weight: 600;
}
.nav{
  width: calc(100%-40px);
  height: calc(100vh - 180px);
  padding: 0px 20px;
}
.nav ul{
  list-style-type: none;
}
.nav li{
  width: calc(100%-40px);
  height: 55px;
  display: flex;
  align-items: center;
  padding: 0px 20px;
  margin: 12px 0px;
  border-radius: 5px;
}
.nav li:hover i path{
  fill: #5E72E4;
}
.nav li:hover a{
  color: #5E72E4;
}
.nav a{
  text-decoration: none;
  color: #0B242F;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.icon-nav{
  margin:0px 30px 0px 0px;
  display: flex;
  align-items: center;
}
.icon-nav img{
  width: 32px;
  height: auto;
}
.active{
  background-color: #DFE3FA;
}
.active i path{
  fill: #5E72E4;
}
.active a{
  color: #5E72E4;
} 
.footer-nav{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  bottom: 0px;
  background-color: #5E72E4;
  border-radius: 0px 0px 15px 15px;
}
.footer-nav p{
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.main-board{
  width: calc(100%-380px);
  padding-left: 30px;
}
.head-board{
  width: calc(100vw - 390px);
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-board .left, .right{
  width: 50%;
}
.head-board .right{
  display: flex;
  justify-content: end;
  align-items: center;
}
.head-board .search{
  width: 350px;
  background-color: white;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
}
.search::placeholder{
  color: #0B242F;
  font-size: 15px;
  font-weight: 500;
}
.head-board button{
  width: 110px;
  height: 40px;
  background-color: #FF6984;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  text-decoration: none;
}
.board{
  margin-top: 40px;
}
.head-card{
  height: 50px;
  padding: 30px 30px 10px 30px;
}
.head-card h3{
  font-weight: 500;
  margin-bottom: 10px;
}
.body-card{
  padding: 0px 30px 30px 30px;
}
.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
label{
  margin-top: 10px;
}
.input-text{
  width: 60%;
  padding: 10px;
}
.input{
  width: 60%;
  padding: 10px;
}
.button-submit{
  width: 110px;
  height: 40px;
  background-color: #32E5A8;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
}
.hidden{
  display: none;
}

/* Dashboard Admin */

.top-card{
  width: calc(100%/3 - 60px/3);
  height: 170px;
  background-color: white;
  box-shadow: 0 4.05px 32.4px 13.5px rgb(0 0 0 / 0.05);
  border-radius: 15px;
  display: flex;
  align-items: center;
  padding: 0px 50px;
}
.desc-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.count  {
  font-size: 32px;
  font-weight: 600;
}
.desc-count{
  font-size: 16px;
}
.card-table{
  width: calc(100%-380px);
  background-color: white;
  box-shadow: 0 4.05px 32.4px 13.5px rgb(0 0 0 / 0.05);
  border-radius: 15px;
}
.create-btn{
  background-color: #32E5A8;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  margin-bottom: 30px;
}
.table {
  /* border-collapse:collapse; */
  border: 1px solid lightgray ;
  border-radius:6px;
  width: 100%;
}
th:first-of-type {
  border-top-left-radius: 6px;
}
th:last-of-type {
  border-top-right-radius: 6px;
}
tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 6px;
}
tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 6px;
}
.table th{
  background-color: #0B242F;
  color: white;
  font-weight: 500;
}
.table th, td {
  padding: 15px 8px;
  text-align: center;
}
tr:nth-child(odd) {
  background-color: #DFE3FA;;
}
.table tr:hover {
  background-color: #DFE3FA;
}
.grup-action-btn{
  display: flex;
  gap: 10px;
  justify-content: center;
}
.grup-action-btn button{
  width: auto;
  height: 30px;
  padding: 0px 10px;
  border: none;
  border: 5px;
  border-radius: 5px;
}
.edit-btn{
  background-color: #FFC107;
  color: #0B242F;
}
.delete-btn{
  background-color: #C82333;
  color: white;
}
.detail-btn{
  background-color: #8B93FF;
  color: white;
}

/* Dashboard User */

.desc-img .btn-profile{
  width: 100px;
  height: 36px;
  background-color: #FFC107;
  color: #0B242F;
  border: none;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
}
.img-profile{
  width: auto;
  height: 100px;
  border-radius: 50%;
}
.name-user{
  font-size: 24px;
  font-weight: 600;
}
.form-card{
  width: calc(100%-380px);
  background-color: white;
  box-shadow: 0 4.05px 32.4px 13.5px rgb(0 0 0 / 0.05);
  border-radius: 15px;
}
